* {
    margin: 0 auto;
}

.content {
    height: 768px;
    width: 1366px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.loader {
    margin: 300px auto;
    border: 16px solid #E5E5E5;
    border-top: 16px solid #0064EB;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}